# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
#
# See https://github.com/r-lib/actions/tree/master/examples#readme for
# additional example workflows available for the R community.

name: package-manager-demo

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:
    env:
      PACKAGEMANAGER_TOKEN_SOLO: ${{ secrets.PACKAGEMANAGER_TOKEN_SOLO }}
      PACKAGEMANAGER_TOKEN_CLUSTER: ${{ secrets.PACKAGEMANAGER_TOKEN_CLUSTER }}
      PACKAGEMANAGER_TOKEN_S3: ${{ secrets.PACKAGEMANAGER_TOKEN_S3 }}
    strategy:
      matrix:
        r-version: ['3.6.3', '4.1.3']
        os: [ {os: "ubuntu-20.04", distro: "focal"}, {os: "ubuntu-18.04", distro: "bionic"} ]
        package-manager: [ {token: "$PACKAGEMANAGER_TOKEN_SOLO", endpoint: "https://solo.rstudiopm.com"} ]
    runs-on: ${{ matrix.os.os }}
    steps:
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.version }}
      - uses: actions/checkout@v3
      - name: Set up R ${{ matrix.r-version }}
        uses: r-lib/actions/setup-r@f57f1301a053485946083d7a45022b278929a78a
        with:
          r-version: ${{ matrix.r-version }}
      - name: Build pkg
        run: R CMD build .
        shell: bash
      - name: Install pkg
        run: R CMD INSTALL --build .
        shell: bash
      - name: Install rspm CLI
        run: "curl -O -J -H \"Authorization: Bearer ${{ matrix.package-manager.token }}\" ${{ matrix.package-manager.endpoint }}/__api__/download && chmod +x ./rspm"
        shell: bash
      - name: Upload source package
        env:
          PACKAGEMANAGER_TOKEN: ${{ matrix.package-manager.token }}
          PACKAGEMANAGER_ADDRESS: ${{ matrix.package-manager.endpoint }}
        run: ./rspm add --source=local-api --path=packageManagerDemo_1.0.0.tar.gz
        shell: bash
      - name: Upload source package
        env:
          PACKAGEMANAGER_TOKEN: ${{ matrix.package-manager.token }}
          PACKAGEMANAGER_ADDRESS: ${{ matrix.package-manager.endpoint }}
        run: ./rspm add binary --source=local-api --distribution=${{ matrix.os.distro }} --path=packageManagerDemo_1.0.0_R_x86_64-pc-linux-gnu.tar.gz
        shell: bash
